<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div id="bar" class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/images/TechBlog_Logo.jpeg" alt="Tech Logo" class="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li id="bar-item-1" class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li id="bar-item-2" class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
          <li id="bar-item-3" class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
          </li>
          <li id="bar-item-4" class="nav-item">
            <a class="nav-link active" aria-current="page" href="/create-card">Create-Post</a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="get" action="/search" >
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" required />
          <button id="button" class="btn" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>